/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {
    font-family: Arial
}

main {
    width: 300px;
    margin: 0px auto;
}

p {
    line-height: 1.8;
}

a {

}

/* Колонки */

.row {
    display: flex;
}
.col {
    flex: auto;
}


/* Потом селекторы по классам */

.text-input {

}

.button {
    width: 125px;
    height: ;
    background-color: mediumslateblue;
    border-color: mediumslateblue;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    width: 300px;
    border-color: silver;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;

}


/* Страничка жанров и тегов */

.genre-first {
    width: 300px;
    height: ;
    background-color: #E1F5EA;
    padding: 10px 10px 10px 20px;
    margin: 20px 10px 20px 0px;
    border-radius: 5px;
}

.genre-second {
    width: 225px;
    height: ;
    background-color: #CBEDFF;
    padding: 10px 10px 10px 20px;
    margin: 10px 10px 20px 0px;
    border-radius: 5px;
}

.genre-third {
    width: 155px;
    height: ;
    background-color: PAPAYAWHIP;
    padding: 10px 10px 10px 20px;
    margin: 10px 10px 20px 0px;
    border-radius: 5px;
}

.genre-fourth {
    width: 100px;
    height: ;
    background-color: #EBDCF9;
    padding: 10px 10px 10px 20px;
    margin: 10px 10px 30px 0px;
    border-radius: 5px;
}

.tag {
    color: #554AF0
}

/* Страничка популярного */

.cover {
    width: 130px;
    margin: 10px 10px 0px 0px;
}

.perenos {
    width: 160px;
}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
    width: 125px;
    height: ;
    background-color: mediumslateblue;
    border-color: mediumslateblue;
    color: white;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    text-decoration: none
}
